In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ankita\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ankita\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ankita\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ankita\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ankita\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ankita\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [13]:
# Load data
sunroof_df = pd.read_csv('C:/Users/ANKITA/Project_Sunroof_Analysis/Project_Sunroof.csv')

population_df = pd.read_csv('C:/Users/ANKITA/Project_Sunroof_Analysis/ZipCode_Population.csv')

In [15]:
population_df.head()

           geo_id  zipcode  population  minimum_age  maximum_age gender
0  8600000US25647    25647         768          NaN          NaN    NaN
1  8600000US49336    49336        4352          NaN          NaN    NaN
2  8600000US72106    72106        5376          NaN          NaN    NaN
3  8600000US74074    74074       29184          NaN          NaN    NaN
4  8600000US01960     1960       50944          NaN          NaN    NaN

In [17]:
sunroof_df.head()

,region_name,state_name,lat_max,lat_min,lng_max,lng_min,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,...,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,install_size_kw_buckets,carbon_offset_metric_tons,existing_installs_count,center_point
0,19149,Pennsylvania,40.051229,40.026879,-75.041355,-75.092596,40.037404,-75.065705,997.9,4602,...,1850868.942,1576590.637,8.580837e+05,4.382758e+07,3332.078650,4.901625e+07,"[[0,3888],[5,430],[10,80],[15,39],[20,24],[25,...",31147.89920,3,POINT(-75.0657051746548 40.0374044403417)
1,19120,Pennsylvania,40.052709,40.012403,-75.096987,-75.138747,40.034398,-75.120887,997.9,6086,...,5073438.265,3776295.319,2.820022e+06,6.464504e+07,3572.812305,7.826531e+07,"[[0,4877],[5,722],[10,107],[15,67],[20,40],[25...",49734.52577,2,POINT(-75.120887243506 40.0343982932811)
2,19132,Pennsylvania,40.005893,39.986358,-75.150639,-75.190697,39.995681,-75.169645,997.9,5157,...,4355742.145,2644355.206,2.354784e+06,5.176022e+07,3379.915637,6.231354e+07,"[[0,4250],[5,463],[10,78],[15,68],[20,37],[25,...",39597.80138,0,POINT(-75.169645159245 39.9956814907579)
3,19134,Pennsylvania,40.007334,39.977417,-75.087213,-75.131005,39.992451,-75.111935,997.9,7551,...,7368521.892,3994669.895,5.198416e+06,1.131108e+08,3582.464453,1.325080e+08,"[[0,5795],[5,831],[10,179],[15,117],[20,87],[2...",84203.60023,3,POINT(-75.1119347717865 39.9924510629131)
4,19138,Pennsylvania,40.071452,40.039948,-75.147013,-75.176449,40.056627,-75.156949,997.9,4256,...,2038110.630,1696291.307,8.202375e+05,2.960903e+07,3545.397314,3.479628e+07,"[[0,3505],[5,529],[10,57],[15,29],[20,12],[25,...",22111.66863,3,POINT(-75.1569492782584 40.0566267715424)

In [19]:
sunroof_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11516 entries, 0 to 11515
Data columns (total 32 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   region_name                           11516 non-null  int64
 1   state_name                            11516 non-null  object
 2   lat_max                               11516 non-null  float64
 3   lat_min                               11516 non-null  float64
 4   lng_max                               11516 non-null  float64
 5   lng_min                               11516 non-null  float64
 6   lat_avg                               11516 non-null  float64
 7   lng_avg                               11516 non-null  float64
 8   yearly_sunlight_kwh_kw_threshold_avg  11516 non-null  float64
 9   count_qualified                       11516 non-null  int64
 10  percent_covered                       11516 non-null  float64
 11  percent_qualified                     11516 non-null  float64
 12  number_of_panels_n                    11516 non-null  int64
 13  number_of_panels_s                    11516 non-null  int64
 14  number_of_panels_e                    11516 non-null  int64
 15  number_of_panels_w                    11516 non-null  int64
 16  number_of_panels_f                    11516 non-null  int64
 17  number_of_panels_median               11497 non-null  float64
 18  number_of_panels_total                11497 non-null  float64
 19  kw_median                             11497 non-null  float64
 20  kw_total                              11497 non-null  float64
 21  yearly_sunlight_kwh_n                 11516 non-null  float64
 22  yearly_sunlight_kwh_s                 11516 non-null  float64
 23  yearly_sunlight_kwh_e                 11516 non-null  float64
 24  yearly_sunlight_kwh_w                 11516 non-null  float64
 25  yearly_sunlight_kwh_f                 11516 non-null  float64
 26  yearly_sunlight_kwh_median            11497 non-null  float64
 27  yearly_sunlight_kwh_total             11497 non-null  float64
 28  install_size_kw_buckets               11497 non-null  object
 29  carbon_offset_metric_tons             11516 non-null  float64
 30  existing_installs_count               11516 non-null  int64
 31  center_point                          11516 non-null  object
dtypes: float64(21), int64(8), object(3)
memory usage: 2.8+ MB

In [21]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   geo_id       25000 non-null  object
 1   zipcode      25000 non-null  int64
 2   population   25000 non-null  int64
 3   minimum_age  0 non-null      float64
 4   maximum_age  0 non-null      float64
 5   gender       16205 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 1.1+ MB

In [23]:
sunroof_df = sunroof_df.dropna()

In [25]:
sunroof_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11497 entries, 0 to 11515
Data columns (total 32 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   region_name                           11497 non-null  int64
 1   state_name                            11497 non-null  object
 2   lat_max                               11497 non-null  float64
 3   lat_min                               11497 non-null  float64
 4   lng_max                               11497 non-null  float64
 5   lng_min                               11497 non-null  float64
 6   lat_avg                               11497 non-null  float64
 7   lng_avg                               11497 non-null  float64
 8   yearly_sunlight_kwh_kw_threshold_avg  11497 non-null  float64
 9   count_qualified                       11497 non-null  int64
 10  percent_covered                       11497 non-null  float64
 11  percent_qualified                     11497 non-null  float64
 12  number_of_panels_n                    11497 non-null  int64
 13  number_of_panels_s                    11497 non-null  int64
 14  number_of_panels_e                    11497 non-null  int64
 15  number_of_panels_w                    11497 non-null  int64
 16  number_of_panels_f                    11497 non-null  int64
 17  number_of_panels_median               11497 non-null  float64
 18  number_of_panels_total                11497 non-null  float64
 19  kw_median                             11497 non-null  float64
 20  kw_total                              11497 non-null  float64
 21  yearly_sunlight_kwh_n                 11497 non-null  float64
 22  yearly_sunlight_kwh_s                 11497 non-null  float64
 23  yearly_sunlight_kwh_e                 11497 non-null  float64
 24  yearly_sunlight_kwh_w                 11497 non-null  float64
 25  yearly_sunlight_kwh_f                 11497 non-null  float64
 26  yearly_sunlight_kwh_median            11497 non-null  float64
 27  yearly_sunlight_kwh_total             11497 non-null  float64
 28  install_size_kw_buckets               11497 non-null  object
 29  carbon_offset_metric_tons             11497 non-null  float64
 30  existing_installs_count               11497 non-null  int64
 31  center_point                          11497 non-null  object
dtypes: float64(21), int64(8), object(3)
memory usage: 2.9+ MB

In [33]:
# Removed the columns 'minimum_age', 'maximum_age', and 'gender'
population_df = population_df.drop(columns=['minimum_age', 'maximum_age', 'gender'])

population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   geo_id      25000 non-null  object
 1   zipcode     25000 non-null  int64
 2   population  25000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 586.1+ KB

In [69]:
# Rename 'region_name' to 'region_ZipCode'
sunroof_df = sunroof_df.rename(columns={'region_name': 'region_ZipCode'})

population_df = population_df.rename(columns={'zipcode': 'region_ZipCode'})

In [71]:
print(population_df.columns)
print(sunroof_df.columns)

Index(['geo_id', 'region_ZipCode', 'population'], dtype='object')
Index(['region_ZipCode', 'state_name', 'lat_max', 'lat_min', 'lng_max',
       'lng_min', 'lat_avg', 'lng_avg', 'yearly_sunlight_kwh_kw_threshold_avg',
       'count_qualified', 'percent_covered', 'percent_qualified',
       'number_of_panels_n', 'number_of_panels_s', 'number_of_panels_e',
       'number_of_panels_w', 'number_of_panels_f', 'number_of_panels_median',
       'number_of_panels_total', 'kw_median', 'kw_total',
       'yearly_sunlight_kwh_n', 'yearly_sunlight_kwh_s',
       'yearly_sunlight_kwh_e', 'yearly_sunlight_kwh_w',
       'yearly_sunlight_kwh_f', 'yearly_sunlight_kwh_median',
       'yearly_sunlight_kwh_total', 'install_size_kw_buckets',
       'carbon_offset_metric_tons', 'existing_installs_count', 'center_point'],
      dtype='object')

In [45]:
# Save the cleaned sunroof data and cleaned population data
sunroof_df.to_csv('cleaned_sunroof_data.csv', index=False)

population_df.to_csv('cleaned_population_data.csv', index=False)

In [57]:
import sqlalchemy as sal
engine = sal.create_engine(r'mssql://LAPTOP-596A4ELM\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn = engine.connect()

In [59]:
sunroof_df.to_sql('Project_Sunroof', con=conn, index=False, if_exists='replace')

57

In [61]:
population_df.to_sql('Population', con=conn, index=False, if_exists='replace')

535